@import '../node_modules/normalize.css/normalize.css';

:root {
	--black: #000000;
	--lightblack: #333333;
	--darkgrey: #535353;
	--grey: #7c7c7c;
	--lightgrey: #e5e5e5;
	--darkwhite: #f7f7f7;
	--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 20px;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 14px;
	position: relative;

	border: 1px solid var(--darkgrey);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}
.top__menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
.button {
	padding: 8px;
	line-height: 19px;
	color: var(--black);
	border: 1px solid var(--black);
}
.button:hover {
	cursor: pointer;
}

/* Popup */
.popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--darkgrey);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 106px 24px;
	opacity: 0;
	transition: 0.3s;
	z-index: -1;
}
.popup__show {
	z-index: 3;
	opacity: 1;
	transition: 0.3s;
}
.popup__wrapper {
	background-color: var(--white);
	padding: 14px 16px;
	height: 320px;
}
.popup__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.popup__top-title {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}
.popup__top-close {
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 70%;
	opacity: 0.45;
	transform: rotate(-45deg);
	transition: 0.3s;
}
.popup__top-close:hover {
	cursor: pointer;
	transform: rotate(-135deg);
	transition: 0.3s;
}
.popup-subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 8px;
}
.form__popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.form__popup-input {
	line-height: 19px;
	padding: 8px;
	border: 1px solid var(--black);
	width: 100%;
	margin-bottom: 8px;
}
.form__popup-input::placeholder {
	color: var(--grey);
}
.form__popup-button {
	padding: 8px;
	line-height: 19px;
	background-color: var(--white);
	border: 1px solid var(--black);
	align-self: baseline;
}
.form__popup-button:hover {
	cursor: pointer;
}
/* Popup */

.chat__screen-wrapper {
	height: 440px;
	color: var(--black);
	border: 1px solid var(--black);
	margin-bottom: 8px;
	overflow-y: auto;
}
.chat__screen {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 8px;
	min-height: 100%;
}
.message {
	margin-top: 8px;
	padding: 8px;
	background-color: var(--lightgrey);
}
.message__my {
	align-self: flex-end;
}
.message__other {
	align-self: flex-start;
}
.message__body {
	display: flex;
	width: 100%;
}
.message__source {
	margin-right: 5px;
}
.message__text {
	max-width: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: var(--black);
	word-wrap: break-word;
}
.message__time {
	text-align: right;
	font-style: italic;
	font-size: 14px;
	line-height: 16px;
	color: var(--lightblack);
}
.form__chat {
	display: flex;
	justify-content: space-between;
}
.input__text {
	line-height: 19px;
	padding: 8px;
	border: 1px solid var(--black);
	width: 100%;
}
.input__text::placeholder {
	color: var(--grey);
}
.button__submit {
	margin-left: 8px;
	width: 40px;
	height: 37px;
	line-height: 19px;
	background-color: var(--white);
	border: 1px solid var(--black);
}
